{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft HorizonDb Management API",
    "version": "2026-01-20-preview",
    "description": "Azure Resource Provider API for managing HorizonDb clusters, pools, replicas, and firewall rules",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "HorizonDbClusters"
    },
    {
      "name": "HorizonDbPools"
    },
    {
      "name": "HorizonDbReplicas"
    },
    {
      "name": "HorizonDbFirewallRules"
    }
  ],
  "paths": {
    "/providers/Microsoft.HorizonDb/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.HorizonDb/clusters": {
      "get": {
        "operationId": "HorizonDbClusters_ListBySubscription",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "List HorizonDbCluster resources by subscription ID",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters": {
      "get": {
        "operationId": "HorizonDbClusters_ListByResourceGroup",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "List HorizonDbCluster resources by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbClusterListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}": {
      "get": {
        "operationId": "HorizonDbClusters_Get",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Get a HorizonDbCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbCluster"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "HorizonDbClusters_CreateOrUpdate",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Create a HorizonDbCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbCluster"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbCluster' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbCluster"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbCluster' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbCluster"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDbCluster"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HorizonDbClusters_Update",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Update a HorizonDbCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbClusterForUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbCluster"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/HorizonDbCluster"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDbClusters_Delete",
        "tags": [
          "HorizonDbClusters"
        ],
        "description": "Delete a HorizonDbCluster",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}": {
      "put": {
        "operationId": "HorizonDbPools_CreateOrUpdate",
        "tags": [
          "HorizonDbPools"
        ],
        "description": "Creates a new HorizonDb pool or updates an existing pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbPool"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbPool' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbPool"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbPool' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbPool"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDbPool"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "HorizonDbPools_Update",
        "tags": [
          "HorizonDbPools"
        ],
        "description": "Updates an existing HorizonDb pool (e.g., replica count)",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbPoolForUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbPool"
            }
          },
          "202": {
            "description": "Resource update request accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location",
          "final-state-schema": "#/definitions/HorizonDbPool"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDbPools_Delete",
        "tags": [
          "HorizonDbPools"
        ],
        "description": "Deletes a HorizonDb pool",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/firewallRules/{firewallRuleName}": {
      "get": {
        "operationId": "HorizonDbFirewallRules_Get",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Gets information about a HorizonDb firewall rule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRule"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "HorizonDbFirewallRules_CreateOrUpdate",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Creates a new HorizonDb firewall rule or updates an existing rule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRule"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbFirewallRule' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRule"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbFirewallRule' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbFirewallRule"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDbFirewallRule"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDbFirewallRules_Delete",
        "tags": [
          "HorizonDbFirewallRules"
        ],
        "description": "Deletes a HorizonDb firewall rule",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "firewallRuleName",
            "in": "path",
            "description": "The name of the HorizonDb firewall rule",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HorizonDb/clusters/{clusterName}/pools/{poolName}/replicas/{replicaName}": {
      "get": {
        "operationId": "HorizonDbReplicas_Get",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Gets information about a HorizonDb replica",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/HorizonDbReplica"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "HorizonDbReplicas_CreateOrUpdate",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Creates a new HorizonDb replica or updates an existing replica",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HorizonDbReplica"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'HorizonDbReplica' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbReplica"
            }
          },
          "201": {
            "description": "Resource 'HorizonDbReplica' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/HorizonDbReplica"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation",
          "final-state-schema": "#/definitions/HorizonDbReplica"
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "operationId": "HorizonDbReplicas_Delete",
        "tags": [
          "HorizonDbReplicas"
        ],
        "description": "Deletes a HorizonDb replica",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v6/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "clusterName",
            "in": "path",
            "description": "The name of the HorizonDb cluster",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "poolName",
            "in": "path",
            "description": "The name of the HorizonDb pool",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          },
          {
            "name": "replicaName",
            "in": "path",
            "description": "The name of the HorizonDb replica",
            "required": true,
            "type": "string",
            "minLength": 1,
            "maxLength": 63,
            "pattern": "^[a-zA-Z0-9][-a-zA-Z0-9]*[a-zA-Z0-9]$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "CreateModeCluster": {
      "type": "string",
      "description": "The mode to create a new HorizonDb cluster",
      "enum": [
        "Create",
        "Update",
        "PointInTimeRestore",
        "GeoRestore",
        "ReviveDropped"
      ],
      "x-ms-enum": {
        "name": "CreateModeCluster",
        "modelAsString": true,
        "values": [
          {
            "name": "Create",
            "value": "Create",
            "description": "Create a new cluster"
          },
          {
            "name": "Update",
            "value": "Update",
            "description": "Update an existing cluster"
          },
          {
            "name": "PointInTimeRestore",
            "value": "PointInTimeRestore",
            "description": "Create cluster from point-in-time restore"
          },
          {
            "name": "GeoRestore",
            "value": "GeoRestore",
            "description": "Create cluster from geo restore"
          },
          {
            "name": "ReviveDropped",
            "value": "ReviveDropped",
            "description": "Revive a dropped cluster"
          }
        ]
      }
    },
    "CreateModePool": {
      "type": "string",
      "description": "The mode to create a new HorizonDb cluster",
      "enum": [
        "Create",
        "Update"
      ],
      "x-ms-enum": {
        "name": "CreateModePool",
        "modelAsString": true,
        "values": [
          {
            "name": "Create",
            "value": "Create",
            "description": "Create a new pool"
          },
          {
            "name": "Update",
            "value": "Update",
            "description": "Update an existing pool"
          }
        ]
      }
    },
    "HighAvailability": {
      "type": "object",
      "description": "High availability properties",
      "properties": {
        "mode": {
          "$ref": "#/definitions/HighAvailabilityMode",
          "description": "The HA mode for the server"
        },
        "state": {
          "type": "string",
          "description": "The user visible HA state of the server",
          "readOnly": true
        },
        "standbyAvailabilityZone": {
          "type": "string",
          "description": "The availability zone of the standby server",
          "readOnly": true
        },
        "fullyQualifiedStandbyDomainName": {
          "type": "string",
          "description": "The fully qualified domain name of the standby server",
          "readOnly": true
        }
      }
    },
    "HighAvailabilityMode": {
      "type": "string",
      "description": "Modes of high availability supported for this compute.",
      "enum": [
        "Disabled",
        "ZoneRedundant",
        "SameZone"
      ],
      "x-ms-enum": {
        "name": "HighAvailabilityMode",
        "modelAsString": true,
        "values": [
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "High availability is disabled"
          },
          {
            "name": "ZoneRedundant",
            "value": "ZoneRedundant",
            "description": "Zone redundant high availability"
          },
          {
            "name": "SameZone",
            "value": "SameZone",
            "description": "Same zone high availability"
          }
        ]
      }
    },
    "HorizonDbCluster": {
      "type": "object",
      "description": "Concrete tracked resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbClusterProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "HorizonDbClusterForUpdate": {
      "type": "object",
      "description": "Represents a HorizonDb cluster resource for update operations",
      "properties": {
        "tags": {
          "type": "object",
          "description": "Resource tags.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "$ref": "#/definitions/HorizonDbClusterPropertiesForUpdate",
          "description": "The properties of the cluster for update"
        }
      }
    },
    "HorizonDbClusterListResult": {
      "type": "object",
      "description": "The response of a HorizonDbCluster list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The HorizonDbCluster items on this page",
          "items": {
            "$ref": "#/definitions/HorizonDbCluster"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "HorizonDbClusterProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb cluster",
      "properties": {
        "administratorLogin": {
          "type": "string",
          "description": "The administrator login name",
          "minLength": 1,
          "maxLength": 63
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The administrator login password",
          "minLength": 8,
          "maxLength": 128,
          "x-ms-secret": true
        },
        "version": {
          "type": "string",
          "description": "The version of the Orion Db"
        },
        "createMode": {
          "$ref": "#/definitions/CreateModeCluster",
          "description": "The mode to create a new HorizonDb cluster"
        },
        "pointInTimeUTC": {
          "type": "string",
          "format": "date-time",
          "description": "Restore point creation time (ISO8601 format), specifying the time to restore from"
        },
        "sourceOrionDbResourceId": {
          "type": "string",
          "description": "The source HorizonDb cluster resource identifier for read replica or point in time restore scenarios"
        },
        "poolName": {
          "type": "string",
          "description": "The pool name for restore or replica operations"
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of replicas",
          "minimum": 0,
          "maximum": 20
        },
        "vCores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of vCores",
          "minimum": 1,
          "maximum": 96
        },
        "availabilityZone": {
          "type": "string",
          "description": "The availability zone of the Orion Db"
        },
        "processorType": {
          "type": "string",
          "description": "The processor type for the Orion Db cluster"
        },
        "network": {
          "$ref": "#/definitions/Network",
          "description": "The network related info"
        },
        "highAvailability": {
          "$ref": "#/definitions/HighAvailability",
          "description": "The high availability related info"
        },
        "maintenanceWindow": {
          "$ref": "#/definitions/MaintenanceWindowOptions",
          "description": "The maintenance window related info"
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "Current state of the cluster",
          "readOnly": true
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "description": "The fully qualified domain name of the cluster",
          "readOnly": true
        },
        "readonlyEndpoint": {
          "type": "string",
          "description": "The fully qualified domain name used for readonly endpoint for the cluster",
          "readOnly": true
        },
        "earliestRestoreDate": {
          "type": "string",
          "format": "date-time",
          "description": "The earliest restore point time (ISO8601 format) for the cluster",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the cluster",
          "readOnly": true
        }
      },
      "required": [
        "administratorLogin"
      ]
    },
    "HorizonDbClusterPropertiesForUpdate": {
      "type": "object",
      "description": "Properties of a HorizonDb cluster for update operations",
      "properties": {
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The administrator login password",
          "minLength": 8,
          "maxLength": 128,
          "x-ms-secret": true
        },
        "vCores": {
          "type": "integer",
          "format": "int32",
          "description": "Number of vCores",
          "minimum": 1,
          "maximum": 96
        }
      }
    },
    "HorizonDbFirewallRule": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbFirewallRuleProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDbFirewallRuleProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb firewall rule",
      "properties": {
        "startIpAddress": {
          "type": "string",
          "description": "The start IP address of the firewall rule",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "endIpAddress": {
          "type": "string",
          "description": "The end IP address of the firewall rule",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "description": {
          "type": "string",
          "description": "The description of the OrionDb firewall rule",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the firewall rule",
          "readOnly": true
        }
      },
      "required": [
        "startIpAddress",
        "endIpAddress"
      ]
    },
    "HorizonDbPool": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbPoolProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDbPoolForUpdate": {
      "type": "object",
      "description": "Represents a HorizonDb pool resource for update operations",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbPoolPropertiesForUpdate",
          "description": "The properties of the pool for update"
        }
      }
    },
    "HorizonDbPoolProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb pool",
      "properties": {
        "sku": {
          "type": "string",
          "description": "The SKU for the OrionDb pool",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "location": {
          "type": "string",
          "description": "The location of the OrionDb pool",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "state": {
          "$ref": "#/definitions/State",
          "description": "Current state of the pool",
          "readOnly": true
        },
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of replicas in the pool",
          "x-ms-mutability": [
            "update"
          ]
        },
        "administratorLogin": {
          "type": "string",
          "description": "The administrator login for the pool",
          "x-ms-mutability": [
            "create"
          ]
        },
        "administratorLoginPassword": {
          "type": "string",
          "format": "password",
          "description": "The administrator login password for the pool",
          "x-ms-mutability": [
            "update"
          ],
          "x-ms-secret": true
        },
        "version": {
          "type": "string",
          "description": "The version of the OrionDb pool",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "tags": {
          "type": "string",
          "description": "The tags for the OrionDb pool",
          "x-ms-mutability": [
            "read",
            "create"
          ]
        },
        "createMode": {
          "$ref": "#/definitions/CreateModePool",
          "description": "The create mode for the pool",
          "x-ms-mutability": [
            "update"
          ]
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the pool",
          "readOnly": true
        }
      }
    },
    "HorizonDbPoolPropertiesForUpdate": {
      "type": "object",
      "description": "Properties of a HorizonDb pool for update operations",
      "properties": {
        "replicaCount": {
          "type": "integer",
          "format": "int32",
          "description": "Number of replicas in the pool",
          "minimum": 0,
          "maximum": 20
        }
      }
    },
    "HorizonDbReplica": {
      "type": "object",
      "description": "Concrete proxy resource types can be created by aliasing this type using a specific property type.",
      "properties": {
        "properties": {
          "$ref": "#/definitions/HorizonDbReplicaProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v6/types.json#/definitions/ProxyResource"
        }
      ]
    },
    "HorizonDbReplicaProperties": {
      "type": "object",
      "description": "Properties of a HorizonDb replica",
      "properties": {
        "replicaName": {
          "type": "string",
          "description": "The name of the replica",
          "readOnly": true
        },
        "isPrimary": {
          "type": "boolean",
          "description": "Boolean indicating if this is the primary replica",
          "readOnly": true
        },
        "role": {
          "$ref": "#/definitions/ReplicaRole",
          "description": "Role of the replica",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/State",
          "description": "Current status of the replica",
          "readOnly": true
        },
        "fullyQualifiedDomainName": {
          "type": "string",
          "description": "The fully qualified domain name of the replica",
          "readOnly": true
        },
        "provisioningState": {
          "$ref": "#/definitions/ProvisioningState",
          "description": "The provisioning state of the replica",
          "readOnly": true
        }
      }
    },
    "MaintenanceWindowOptions": {
      "type": "object",
      "description": "Maintenance window properties",
      "properties": {
        "customWindow": {
          "type": "string",
          "description": "Indicates whether the window is customer or system default"
        },
        "dayOfWeek": {
          "type": "integer",
          "format": "int32",
          "description": "The day of the week for the maintenance to occur (0-6, where 0 is Sunday)",
          "minimum": 0,
          "maximum": 6
        },
        "startHour": {
          "type": "integer",
          "format": "int32",
          "description": "The hour to start the maintenance (0-23)",
          "minimum": 0,
          "maximum": 23
        },
        "startMinute": {
          "type": "integer",
          "format": "int32",
          "description": "The minute to start the maintenance (0-59)",
          "minimum": 0,
          "maximum": 59
        }
      }
    },
    "Network": {
      "type": "object",
      "description": "Network properties",
      "properties": {
        "publicNetworkAccess": {
          "type": "string",
          "description": "The flag indicating whether public ip is requested for the server",
          "readOnly": true
        },
        "delegatedSubnetResourceId": {
          "type": "string",
          "description": "The customer provided delegated subnet full ARM resource ID"
        },
        "privateDnsZoneArmResourceId": {
          "type": "string",
          "description": "The customer provided private DNS zone full ARM resource ID"
        }
      }
    },
    "ProvisioningState": {
      "type": "string",
      "description": "The provisioning state",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled",
        "InProgress"
      ],
      "x-ms-enum": {
        "name": "ProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Provisioning completed successfully"
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Provisioning failed"
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Provisioning was canceled"
          },
          {
            "name": "InProgress",
            "value": "InProgress",
            "description": "Provisioning is in progress"
          }
        ]
      }
    },
    "ReplicaRole": {
      "type": "string",
      "description": "Role of the replica",
      "enum": [
        "Read"
      ],
      "x-ms-enum": {
        "name": "ReplicaRole",
        "modelAsString": true,
        "values": [
          {
            "name": "Read",
            "value": "Read",
            "description": "Read-only replica"
          }
        ]
      }
    },
    "State": {
      "type": "string",
      "description": "Current states",
      "enum": [
        "Ready",
        "Dropping",
        "Disabled",
        "Starting",
        "Stopping",
        "Stopped",
        "Updating"
      ],
      "x-ms-enum": {
        "name": "State",
        "modelAsString": true,
        "values": [
          {
            "name": "Ready",
            "value": "Ready",
            "description": "Is ready and operational"
          },
          {
            "name": "Dropping",
            "value": "Dropping",
            "description": "Is being dropped/deleted"
          },
          {
            "name": "Disabled",
            "value": "Disabled",
            "description": "Is disabled"
          },
          {
            "name": "Starting",
            "value": "Starting",
            "description": "Is starting up"
          },
          {
            "name": "Stopping",
            "value": "Stopping",
            "description": "Is stopping"
          },
          {
            "name": "Stopped",
            "value": "Stopped",
            "description": "Is stopped"
          },
          {
            "name": "Updating",
            "value": "Updating",
            "description": "Is being updated"
          }
        ]
      }
    }
  },
  "parameters": {}
}
